{% comment %}
<section id="section6" class="form" style="scroll-margin-top: 100px;">
    <form method="POST" class="formSection">
      {% csrf_token %}
      {{contactinfo.title|safe}}
      <input
        placeholder="Введите имя"
        name="name"
        class="Forminput"
        type="text"
      />
      <input
        placeholder="Введите почту"
        name="email"
        class="Forminput"
        type="email"
      />
      <input
        placeholder="Введите номер"
        name="number"
        class="Forminput"
        type="text"
      />
      <div class="checkbox">
        <input type="checkbox" name="consent" id="agreementFeedback" />
        <label for="agreementFeedback">
          Я даю согласие на обработку моих персональных данных<br />
          согласно политике конфиденциальности
        </label>
      </div>
      <button name="call1" class="formButton">Заказать звонок</button>
    </form>
    <div class="formImager">
      <img src="{{contactinfo.image.url}}" alt="" />
    </div>
</section>
{% endcomment %}

<section id="section6" class="form" style="scroll-margin-top: 100px;">
  <div id="bitrix-call-form">
      <!-- Битрикс форма -->
      <script data-b24-form="inline/84/d1nuu4" data-skip-moving="true">
          (function(w,d,u){
              var s=d.createElement('script');
              s.async=true;
              s.src=u+'?'+(Date.now()/180000|0);
              var h=d.getElementsByTagName('script')[0];
              h.parentNode.insertBefore(s,h);
          })(window,document,'https://crm.nurzaman.kg/upload/crm/form/loader_84_d1nuu4.js');
      </script>
  </div>
</section>
